body{
    font-family: 'Bitter', serif;
font-family: 'Prompt', sans-serif;
    margin:0;
}
.heading{
    font-size: 70px;
    color: rgb(77, 76, 76);
    margin-top: 210px;
} 
h1{
    font-size: 60px;
    color: rgb(77, 76, 76);
}   

p{
    font-size: 25px;
    color: rgb(90, 88, 88);
}
.blue-color{
    color:rgb(49, 109, 250);
}
.Flexible-container{
    display: flex;
    margin-bottom: 130px;
    margin-top: 25px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width:90%;
}
.half-width2{
    width: 50%;
    padding-left: 2%;

}
.half-width2 img{
    width: 130%;
}
.half-width3{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    box-shadow:10px 10px 10px 10px  gray ;
    text-shadow: none;
 
}
.half-width3 img{
    width:70%;
}
    


.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(65, 174, 246),rgb(18, 60, 248)) ;
    padding: 18px 40px ;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    
    
}
.top-banner{


}
.Second-banner{
    background-image:url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    
}


.third-banner{
    text-align: center;
    

}



/* Three columns side by side */
.column {
    float: left;
    width: 25.0%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
 
  












  .main {
    max-height: 200px;;
    background-color: #292c2f;
    color: white;
    font-size: 38pt;
    text-align: center;
    line-height: 200px;
   }
   footer{
    position: fixed;
    bottom: 0;
   }
Aa

